{% extends 'base.html' %}
{% block basetemp %}
   
    <!-- about section start -->
    <section class="about-section" id="#about">
        <div class="about-info">
            <h2>about us</h2>
            <p>
                queens beauty studio is one of the best ladies saloon of barnala. it very well known for quality and
                excellent customer services. we provide various services like makeups, hairstyle, pedicure,
                manicure,etc. click on services button to book and details about it particularly.

            </p>
                <button class="btn"><a href="#services">services</a></button>
        </div>
        <div class="image-container">
            <img src="https://lh3.googleusercontent.com/p/AF1QipPNgJJH92ErIo3cJK8_9DOjaCmJt5fl7Dfke3zu=s680-w680-h510"
                class="zoom-image">
        </div>
    </section>
    <!-- about section end -->

    {% endblock basetemp %}