{% if isadmin %}
{% extends 'adminbase.html' %}
{% block title %}{% if isadmin %}Admin{% else %}User{% endif %} Profile{% endblock title %}
{% block admincss %}
<link rel="stylesheet" href="{{ url_for('static',filename='CSS/view_data.css') }}">
{% endblock admincss %}
{% block adminbasetemp %}
<div class="container">
    {% include 'flashmessages.html' %}
    <h2 class="capitalize">Profile Details</h2>
    <div class="info flex flexwrap">
        <div class="w-md-50 mx-10">Name:-<p class="form-control">{{ current_user.admin_name.capitalize() }}</p></div>
        <div class="w-md-50 mx-10">User Email Address:-<p class="form-control">{{ current_user.admin_email_address or user.email_address }}</p></div>
        <div class="w-md-50 mx-10">User Phone Number:-<p class="form-control">{{ current_user.admin_phone_number or user.phone_number }}</p></div>
        <div class="w-md-50 mx-10">Account Data Created:-<p class="form-control">{{ current_user.date_created}}</p></div>
    </div> 
    <a class="btn w-md-75  mx-10">back</a>
</div>
{% endblock adminbasetemp %}
{% block adminjs %}
{% endblock adminjs %}
{% else %}
{% extends 'base.html' %}
{% block pagescss %}
<link rel="stylesheet" href="{{ url_for('static',filename='CSS/view_data.css') }}">

{% endblock pagescss %}
{% block basetemp %}
<div class="container">
    <h2 class="capitalize">Profile Details</h2>
    <div class="info flex flexwrap">
        <div class="w-md-50 mx-10">Name:-<p class="form-control">{{ current_user.user_name }}</p></div>
        <div class="w-md-50 mx-10">Email Address:-<p class="form-control">{{ current_user.user_email_address }}</p></div>
        <div class="w-md-50 mx-10">Phone Number:-<p class="form-control">{{ current_user.user_phone_number }}</p></div>
        <div class="w-md-50 mx-10">Data Created:-<p class="form-control">{{ current_user.date_created}}</p></div>
    </div> 
    <a class="btn w-md-75  mx-10">back</a>
</div>
{% block pagejs %}
{% endblock pagejs %}
{% endblock basetemp %}
{% endif %}