{% extends 'base.html' %}
{% block title %}Check Booking Info{% endblock title %}
{% block pagescss %}
<style>
    
.content {
    padding: 2em;
    text-align: center;
}

.content p {
    margin-top: 0;
}

.data-section {
    padding: 2em;
    background-color: white;
    margin-top: 1em;
}

.data-section h2 {
    margin-bottom: 1em;
}


.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 0.5em;
    text-align: left;
    text-transform: capitalize;
}

th {
    background-color: #f2f2f2;
}


tbody a {
    text-decoration: none;
    color: Red;
    font-weight: bold;
}

tbody a:hover {
    color: rgb(233, 146, 146);
    text-decoration: underline;
}

</style>
{% endblock pagescss %}

{% block basetemp %}
<section class="data-section">
    <h2>ALL Bookings</h2>
    <div class="table-container">
        <table id="dataTable">
            <thead>
                <tr>
                    <th>service</th>
                    <th>date</th>
                    <th>time</th>
                    <th>status</th>
                    <th>cancel</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data will be inserted here -->
                {% if binfo %}
                    {% for binfot in binfo %}
                    <tr>
                        {% for serv in serv %}
                            {% if binfot.service_id==serv.id %}
                                <td>{{ serv.title }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ binfot.date }}</td>
                        <td>{{ binfot.time }}</td>
                        <td>{{ binfot.status }}</td>
                        <td>Cancel</td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5" class="text-center bg-red text-white">No Data Found</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <div class="m-10 flex px-10"> 
            {% if binfo.has_prev %}
            <a href="{{ url_for('booking.booking_info', page=binfos.prev_num) }}" class="btn mx-10 w-10">Previous</a>
            {% endif %}
            Page {{ binfo.page }} of {{ binfo.pages }}
            {% if binfo.has_next %}
            <a href="{{ url_for('booking.booking_info', page=binfos.next_num) }}" class="btn mx-10 w-10">Next</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock basetemp %}